/* Font: Courier Prime */
@font-face {
    font-family: "CourierPrime";
    src: url('/resources/fonts/Courier_Prime/CourierPrime-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "CourierPrime";
    src: url('/resources/fonts/Courier_Prime/CourierPrime-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Font: Futura */
@font-face {
    font-family: "Futura";
    src: url('/resources/fonts/futura/Futura\ Book\ font.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url('/resources/fonts/futura/Futura\ Heavy\ font.ttf') format("truetype");
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: "Futura";
    src: url('/resources/fonts/futura/Futura\ Bold\ font.ttf') format("truetype");
    font-weight: 700;
    font-style: bold;
}

/* Font: Josefin Sans */
@font-face {
    font-family: "JosefinSans";
    src: url('/resources/fonts/JosefinSans/static/JosefinSans-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "JosefinSans";
    src: url('/resources/fonts/JosefinSans/static/JosefinSans-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* COLORS */
:root {
    --platinum: #d8dbe2;
    --powderblue: #a9bcd0;
    --moonstone: #58a4b0;
    --charcoal: #373f51;
    --eerieblack: #1a1c1a;
    /* new colors */
    --phthalogreen: #123524;
    --burntorange: #cc5500;
}


html, 
body, 
#background { 
  width: 100vw;
  min-height: 100vh;
  margin-left: -0.25vw;
  background-color: #fbf4ea;
}

/* Top Nav Styling */
/* For non-mobile screens */
@media only screen and (min-width: 600px) {

.main-menu-wrapper {
    width: 100%;
    text-align: center;
}

.main-menu {
    list-style-type: none;
    align-items: center;
}

.main-menu li {
    padding: 0px 30px;
    display: inline-block;
}

.main-menu-item:link,
.main-menu-item:visited {
    font-family: "JosefinSans";
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
    color: var(--phthalogreen);
    opacity: 1.0;
}

.main-menu-item:hover {
    text-shadow: 0 0 20px var(--platinum);
    transition: 1s;
}

}

/* For mobile screens */
@media only screen and (max-width: 599px) {

    .main-menu-wrapper {
        width: 100vw;
        text-align: center;
        justify-content: center;
        padding-top: 30px;
    }
    
    .main-menu {
        margin-left: -50px;
        list-style-type: none;
        align-items: center;
    }
    
    .main-menu li {
        padding: 0px 10px;
        display: inline-block;
    }
    
    .main-menu-item:link,
    .main-menu-item:visited {
        font-family: "JosefinSans";
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        text-decoration: none;
        color: var(--phthalogreen);
        opacity: 1.0;
    }

}