
@media only screen and (min-width: 800px) {

    .text-container{
        text-align: center;
        justify-content: center;
        width: 50vw;
        margin: auto;
    }

    .plaintext-0 {
        font-family: "CourierPrime";
        font-size: 40px;
        color: var(--eerieblack);
    }

    .plaintext-1 {
        font-family: "CourierPrime";
        font-size: 25px;
        color: var(--eerieblack);
    }

    .plaintext-2 {
        font-family: "CourierPrime";
        font-size: 15px;
        color: var(--eerieblack);
    }

    .card-header {
        font-family: "CourierPrime";
        font-size: 10px;
        color: var(--eerieblack);
    }

    .recent-title {
        font-family: "Futura";
        font-weight: 700;
        font-size: 30px;
        color: var(--eerieblack);
    }

    .recent-desc {
        font-family: "CourierPrime";
        font-size: 15px;
        padding-bottom: 20px;
        color: var(--eerieblack);
    }

    .recent-button,
    .recent-button:link,
    .recent-button:visited {
        width: max-content;
        padding: 8px 10px;
        margin: auto;
        background-color: var(--burntorange);
        font-family: "CourierPrime";
        color: ivory;
        text-decoration: none;
    }

    .recent-button:hover {
        color: var(--eerieblack);
        border: 2px dashed;
        transition: 0.5s;
    }

}

@media only screen and (max-width: 799px) {

    .text-container{
        text-align: center;
        justify-content: center;
        width: 80vw;
        margin: auto;
    }

    .plaintext-0 {
        font-family: "CourierPrime";
        font-size: 40px;
        color: var(--eerieblack);
    }

    .plaintext-1 {
        font-family: "CourierPrime";
        font-size: 25px;
        color: var(--eerieblack);
    }

    .plaintext-2 {
        font-family: "CourierPrime";
        font-size: 15px;
        color: var(--eerieblack);
    }

    .card-header {
        font-family: "CourierPrime";
        font-size: 10px;
        color: var(--eerieblack);
    }

    .recent-title {
        font-family: "Futura";
        font-weight: 700;
        font-size: 30px;
        color: var(--eerieblack);
    }

    .recent-desc {
        font-family: "CourierPrime";
        font-size: 15px;
        padding-bottom: 20px;
        color: var(--eerieblack);
    }

    .recent-button,
    .recent-button:link,
    .recent-button:visited {
        width: max-content;
        padding: 8px 10px;
        margin: auto;
        background-color: var(--burntorange);
        font-family: "CourierPrime";
        color: ivory;
        text-decoration: none;
        margin-bottom: 100px;
    }

    .recent-button:hover {
        color: var(--eerieblack);
        border: 2px dashed;
        transition: 0.5s;
    }
}
