@media only screen and (min-width: 800px) {

    body {
        overflow-y: hidden;
    }

    .icon-list {
        padding-top: 50px;
        width: 100vw;
        text-align: center;
        margin: auto;
    }

    .fa-envelope {
        font-size: 100px;
        padding-right: 25px;
        color: var(--eerieblack);
    }

    .fa-envelope:hover {
        color: var(--burntorange);
        transition: 1s;
    }

    .fa-github {
        font-size: 100px;
        padding-right: 25px;
        color: var(--eerieblack);
    }

    .fa-github:hover {
        color: var(--burntorange);
        transition: 1s;
    }

    .fa-linkedin {
        font-size: 100px;
        padding-right: 25px;
        color: var(--eerieblack);
    }

    .fa-linkedin:hover {
        color: var(--burntorange);
        transition: 1s;
    }

    .fa-file-pdf {
        font-size: 100px;
        padding-right: 0px;
        color: var(--eerieblack);
    }

    .fa-file-pdf:hover {
        color: var(--burntorange);
        transition: 1s;
    }

}

@media only screen and (max-width: 799px) {
    body {
        overflow-y: hidden;
    }

    .icon-list {
        padding-top: 50px;
        width: 100vw;
        text-align: center;
        margin: auto;
    }

    .fa-envelope {
        font-size: 50px;
        padding-right: 25px;
        color: var(--eerieblack);
    }

    .fa-envelope:hover {
        color: var(--burntorange);
        transition: 1s;
    }

    .fa-github {
        font-size: 50px;
        padding-right: 25px;
        color: var(--eerieblack);
    }

    .fa-github:hover {
        color: var(--burntorange);
        transition: 1s;
    }

    .fa-linkedin {
        font-size: 50px;
        padding-right: 25px;
        color: var(--eerieblack);
    }

    .fa-linkedin:hover {
        color: var(--burntorange);
        transition: 1s;
    }

    .fa-file-pdf {
        font-size: 50px;
        padding-right: 0px;
        color: var(--eerieblack);
    }

    .fa-file-pdf:hover {
        color: var(--burntorange);
        transition: 1s;
    }
}